section#about {
  position: absolute;
  top: 730px;
  left: 0px;
  right: 0px;
  margin: 128px 50px;
}
section#about > h1 {
  text-align: center;
}
section#about > p {
  text-align: center;
}
section#about > div.features {
  display: flex;
  text-align: center;
  gap: 10px;
  margin-top: 50px;
}
section#about > div.features > div.feature {
}
section#about > div.features > div.feature > div.icon {
  font-size: 48px;
}
section#about > div.features > div.feature > div.text {
}

section#about > div.features > div.feature > div.text > P {
}
