section.contact {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background-color: #f1f1f1;
}
section.contact > img {
  margin-top: 64px;
  margin-bottom: 128px;
  padding: 0px 16px;
  filter: grayscale(70%);
}
section.contact > div.title {
}
section.contact > div.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.contact > div.form > input.text {
  /* width: 1400px; */
  width: 100%;
  padding: 12px;
}
section.contact > div.form > input:last-child {
  background-color: black;
  color: white;
  width: 200px;
  padding: 14px;
  font-size: 17px;
}
section.contact > div.form > input:last-child:hover {
  background-color: #cccccc;
  color: black;
}
