main > section.design {
  display: flex;
  position: absolute;
  top: 1300px;
  left: 0px;
  right: 0px;
  background-color: #f1f1f1;
  padding: 128px 50px;
}
main > section.design > div.foto {
}
main > section.design > div.foto > img {
  flex: 1;
  width: 100%;
  padding: 24px;
}
main > section.design > div.text {
  padding: 24px;
}
main > section.design > div.text > h1 {
  font-weight: 500;
}
main > section.design > div.text > p {
  margin-bottom: 44px;
}
main > section.design > div.text > a {
  background-color: black;
  color: white;
  padding: 14px;
  text-decoration: none;
}
main > section.design > div.text > a:hover {
  color: black;
  background-color: #ccc;
}
